html{
    font-family: IBM Plex Mono;
}

.email-button {
    background-color: #f1f1f1;
    padding: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    margin-top: 20px; 
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px; /* Adjust the gap value to your preference */
    margin-left: 150px;
    margin-top: 20px;
  }

  .gallery img {
    max-width: 100%;
    max-height: 150px;
  }