html{
    font-family: IBM Plex Mono;
}

.email-button {
    background-color: #f1f1f1;
    padding: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    margin-top: 20px; 
}
